body {
  background-color: #f0f4f8;
  color: #333333;
  font-family: "Arial", sans-serif;
  margin: 0;
}

.sidebar {
  background-color: #ff5858;
  color: #ffffff;
  height: 100vh;
  position: fixed;
  width: 240px;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar h2 {
  color: #ffcc00;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-left: 240px;
  transition: margin-left 0.3s;
}

.main-content.collapsed {
  margin-left: 60px;
}

.top-bar {
  background-color: #b3e5fc;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  background-color: #ffffff;
  border: 2px solid #b3e5fc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card img {
  border-radius: 10px;
  max-height: 120px;
  object-fit: cover;
}

.card p {
  color: #333;
  font-size: 16px;
  margin-top: 10px;
}

form {
  background-color: #a1d0e4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #ffcc00;
  color: #333;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffb74d;
}

.hover-grow:hover {
  transform: scale(1.1);
}

.card-animation {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-animation:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .main-content {
    margin-left: 200px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .main-content {
    margin-left: 0;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .top-bar {
    font-size: 14px;
  }
}
